@using Aranoz.Model.Model;
@model Aranoz.Model.Model.AdminViewModel


@{

    Layout = null;
}

@foreach (var productItem in Model.ProductList)
{

    string imgPath = @"https://hepcludex.dev.local/" + productItem.ProductImage;

    <div class="col-lg-4 col-sm-6">
        <div class="single_product_item">
            <img src="@imgPath" alt="">
            <div class="single_product_text">
                <h4>@productItem.ProductName</h4>
                <h3>@productItem.ProductPrice৳</h3>
                <div class="btn-more">
                    <button href="index.html" type="btn" class="btn_3" onclick="cartAdd(@productItem.ProdutID)">
                        Add To Cart
                    </button>
                    <button href="index.html" type="btn" class="btn_3">
                        More Details
                    </button>
                </div>
            </div>
        </div>
    </div>
}


