
@{
    ViewBag.Title = "AddRole";
}
@using (Html.BeginForm("AddRole", "Dashboard", FormMethod.Post, new { }))
{
    <h1> ADD New Role</h1>
    <div>
        <label>Role Name</label>
        <input type="text" name="rolename" placeholder="Add New Role"/>
        <input type="submit" value="Create" class="btn btn-light" />
    </div>
}